<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>AngularProjectng</h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="/home" routerLink="home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog">Blog</a>
        </li>
      </ul>
      <form class="d-flex" (submit)="search($event)">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="searchQuery"
          name="searchQuery"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<main dir="rtl">
  <div class="container my-5">
    <div class="row">
      <div class="col text-center text-white bg-dark">
        <h1>Food menu</h1>
        <div class="row bg-#8BAA7D">
          <div class="col">
            <span class="p-2"> السعر</span> <span class="p-2">{{ total }}</span>
          </div>
          <div class="col">
            <span class="p-2"> عدد الطلبات</span>
            <span class="p-2">{{ qty }}</span>
          </div>
        </div>
      </div>
    </div>
    <table
      class="table col-12 table-striped table-hover text-center nowrap no-footer border-success pt-4"
    >
      <thead class="table-success border-success text-white">
        <tr>
          <th>الرقم</th>
          <th>الإسم</th>
          <th>السعر</th>
          <th>الوصف</th>
          <th>الصورة</th>
          <th>إختر</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredMenu" class="text-center align-middle">
          <td class="align-middle">{{ item.id }}</td>
          <td class="align-middle">{{ item.name }}</td>
          <td class="align-middle">{{ item.price }}</td>
          <td class="align-middle">{{ item.description }}</td>
          <td class="align-middle">
            <img src="{{ item.img }}" alt="" width="80px;" height="100px" />
          </td>
          <td class="align-middle">
            <input type="checkbox" (change)="sum($event, item.price)" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
<router-outlet />
